
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




html, body{
    height: 100%;
    margin: 0;
}

body{
    display: grid;
    grid-template-rows: 1fr 4fr;
    font-family: 'Roboto', Comic Sans MS, cursive;
}

.header{
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-family: 'Playwrite Canada', 'Comic Sans SM';
    background-color: rgb(23, 104, 23);
}

.main{
    grid-row: 2 / 5;
     background-color: rgb(190, 199, 187);
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
     gap: 10px;
     overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  

}

.library-container{
    font-family: 'Raleway';
}

.cards{
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    max-width: 300px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 250px;
}


.playwrite-ca-header {
  font-family: "Playwrite CA", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

#book-form{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

dialog .wrapper{
    padding: 16px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}